.header {
    color: #fff;
    margin-bottom: 2rem;
  }

  .edit-button {
    display: inline-block;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
  }

  .first-name, .last-name {
    width: 170px;
    height: 30px;
    margin-left: 20px;
  }

  .edit-name {
    display: none;
  }

  .save, .cancel {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    width: 90px;
    margin-left: 20px;
    margin-top: 20px;
  }